<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servlets</display-name>
    <servlet-name>Servlets</servlet-name>
    <servlet-class>Servers.Servlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets</servlet-name>
    <url-pattern>/Servlets</url-pattern>
  </servlet-mapping>
  <display-name>WebServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletsExample</display-name>
    <servlet-name>ServletsExample</servlet-name>
    <servlet-class>JavaServlets.ServletsExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsExample</servlet-name>
    <url-pattern>/ServletsExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletsExample1</display-name>
    <servlet-name>ServletsExample1</servlet-name>
    <servlet-class>JavaServlets.ServletsExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletsExample1</servlet-name>
    <url-pattern>/ServletsExample1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hi</display-name>
    <servlet-name>hi</servlet-name>
    <servlet-class>JavaServlets.hi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hi</servlet-name>
    <url-pattern>/hi</url-pattern>
  </servlet-mapping>
</web-app>